// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
body {
  margin: 0;
}
@font-face {
  font-family: Babyground;
  src: url('./assets/fonts/Babyground.ttf') format('truetype');
}
@font-face {
  font-family: LitteBaby;
  src: url('./assets/fonts/LittleBaby.ttf') format('truetype');
}
